{{extend 'layout.html'}}
<div id="ractive_target"></div>
<script id="ractive_template" type="text/ractive">
    <div class="container-fluid" style="padding-top:20px;">
    <div class="row">
    <div class="col-3">
            <ul class="list-group list-group-default">
                <li class="list-group-item">
                    <a class="btn-block" href="{{=URL('default', 'populate_demo')}}">
                        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                        {{=T("Projects")}}
                    </a>
                </li>
                {% #each project_dict:id %}
                    {% #if status == 'FAIL' %}
                        <li class="list-group-item list-group-item-danger text-danger">
                            <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                            <a class="text-danger" href="{{=URL('default','index')}}?id={% name %}" on-click="set_val:{% name %}">{% name %}</a>
                        </li>
                    {% /if %}
                    {% #if status == 'OK' %}
                        <li class="list-group-item list-group-item-success text-success">
                            <i class="fa fa-check fa-fw" aria-hidden="true"></i>
                            <a class="text-success" href="{{=URL('default','index')}}?id={% name %}" on-click="set_val:{% name %}">{% name %}</a>
                        </li>
                    {% /if %}
                    {% #if status == 'GOLD' %}
                        <li class="list-group-item list-group-item-warning text-warning">
                            <i class="fa fa-check fa-fw" aria-hidden="true"></i>
                            <a class="text-warning" href="{{=URL('default','index')}}?id={% name %}" on-click="set_val:{% name %}">{% name %}</a>
                        </li>
                    {% /if %}
                    {% #if status == 'N/A' %}
                        <li class="list-group-item list-group-item-default text-default">
                            <i class="fa fa-question fa-fw" aria-hidden="true"></i>
                            <a class="text-default" href="{{=URL('default','index')}}?id={% name %}" on-click="set_val:{% name %}">{% name %}</a>
                        </li>
                    {% /if %}
                {% /each %}
            </ul>

    </div>
    <div class="col-9">
        {% #if nothing_selected %}
        <h2>
          Welcome to PopperCI!<br>
          <small class="text-muted">Select a project on the left to see its status.</small>
        </h2>
        {% else %}
            <!-- Page Heading -->
            <h4>{{=request.vars.id}}</h4>
            <div id="exTab2" class="container col-12">
                {{if request.vars.experiment is not None:}}
                    <div class="list-group">
                        {% #each validation_dict:id %}
                            {% #if status == 'Fail' %}
                                <div class="card card-inverse card-danger mb-3">
                                  <div class="card-block">
                                    <h3 class="card-title">{% name %}</h3>
                                    <p class="card-text" style="margin-bottom:0;">{% validation_id %}</p>
                                    <p class="card-text" style="margin-bottom:0;">Status: {% status %}</p>
                                    <p class="card-text" style="margin-bottom:0;">{% validation %}</p>
                                  </div>
                                </div>
                            {% /if %}
                            {% #if status == 'Pass' %}
                                <div class="card card-inverse card-success mb-3">
                                  <div class="card-block">
                                    <h3 class="card-title">{% name %}</h3>
                                    <p class="card-text" style="margin-bottom:0;">{% validation_id %}</p>
                                    <p class="card-text" style="margin-bottom:0;">Status: {% status %}</p>
                                    <p class="card-text" style="margin-bottom:0;">{% validation %}</p>
                                  </div>
                                </div>
                            {% /if %}
                        {% /each %}
                    </div>
                {{elif request.vars.build is not None:}}
                    <ul class="list-group col-11">
                        {% #each experiment_dict:id %}
                            <li class="list-group-item justify-content-between">
                            <div style="white-space:nowrap">
                                <div style="display:inline;">
                                    <a href="{{=URL('default', 'index', vars=dict(id=request.vars.id if request.vars.id is not None else 'None'))}}&build={{=request.vars.build if request.vars.build is not None else 'None'}}&experiment={% exp_id %}">{% name %}</a>
                                </div>
                                <div class="pull-right" style="display:inline; white-space:nowrap;">
                                    {% #if status == 'OK' %}
                                        <img src="{{=URL('static', 'images/Popper-OK.png')}}" alt="OK">
                                    {% /if %}
                                    {% #if status == 'FAIL' %}
                                        <img src="{{=URL('static', 'images/Popper-Fail.png')}}" alt="Fail">
                                    {% /if %}
                                    {% #if status == 'GOLD' %}
                                        <img src="{{=URL('static', 'images/Popper-Gold.png')}}" alt="Gold">
                                    {% /if %}
                                </div>
                            </li>
                        {% /each %}
                    </ul>
                {{else:}}
                    {% #each build_dict:id %}
                        <div class="card">
                          <a class="card-header" href="{{=URL('default', 'index', vars=dict(id=request.vars.id if request.vars.id is not None else 'None'))}}&build={% build_id %}">
                                {% #if status == 'Running' %}
                                    <i class="fa fa-refresh fa-spin fa-fw"></i>
                                {% else %}
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                {% /if %}
                                &nbsp;&nbsp;{% name %}
                            </a>
                          <div class="card-block">
                            <p><i class="fa fa-calendar-o fa-fw" aria-hidden="true"></i>&nbsp;<b>Timestamp: </b>{% meta_timestamp %}</p>
                            <p><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;<b>Author: </b>{% meta_author %}</p>
                            <p><i class="fa fa-code-fork fa-fw" aria-hidden="true"></i>&nbsp;<b>Commit: </b>{% meta_commit %}</p>
                            <p><i class="fa fa-commenting fa-fw" aria-hidden="true"></i>&nbsp;<b>Message:</b> {% meta_message %}</p>
                          </div>
                        </div>
                        <br>
                    {% /each %}
                {{pass}}
            </div>
        {% /if %}
    </div></div></div>
</script>

<script>
    $(function () {
        // Ractive object
        var ractive = new Ractive({
            el: '#ractive_target',
            template: '#ractive_template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                project_dict: {},
                build_dict: {},
                experiment_dict: {},
                validation_dict: {},
                nothing_selected: {{='false' if request.vars.id else 'true'}},
            }
        });
        ractive.DEBUG = true;
        ractive.set('project_dict', {{=project_list}});
    {{if request.vars.id is not None:}}
        ractive.set('build_dict', {{=build_list}});
    {{pass}}
    {{if request.vars.build is not None:}}
        ractive.set('experiment_dict', {{=experiment_list}});
    {{pass}}
    {{if request.vars.build is not None:}}
        ractive.set('validation_dict', {{=validation_list}});
    {{pass}}
    });
</script>
