{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

{{if request.vars.id is None:}}
    <h2>Welcome to PopperCI!</h2>
    <p class="lead">{{=T('Select a job on the left to continue')}}</p>
{{else:}}
<!-- Page Heading -->
    <div class="row page-header">
        <h1 class="dashhead-title" style="padding-left: 25px">{{=request.vars.id}}</h1>
    </div> <!-- /.row -->
{{pass}}

{{block left_sidebar}}
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block" href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("Jobs")}}
    </a></h3></div>
  <ul class="list-group list-group-default">
      <li class="list-group-item list-group-item-danger text-danger">
          <i class="fa fa-times" aria-hidden="true"></i>&nbsp;
          <a class="text-warning" href="{{=URL('default','index', vars=dict(id='test1'))}}">test1</a>
      </li>
      <li class="list-group-item list-group-item-success text-success">
          <i class="fa fa-check" aria-hidden="true"></i>&nbsp;
          <a class="text-success" href="{{=URL('default','index', vars=dict(id='test2'))}}">test2</a>
      </li>
    <li class="list-group-item list-group-item-warning text-warning">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;
        <a class="text-warning" href="{{=URL('default','index', vars=dict(id='test3'))}}">test3</a>
    </li>
  </ul>
</div>
{{end}}
