*.sw?
*.pyc
.DS_Store
.idea/
.ropeproject
db/
frontend/__init__.py
frontend/errors
frontend/logs
frontend/httpserver.log
frontend/parameters_8000.py
frontend/welcome.w2p
frontend/databases
frontend/httpserver.pid
frontend/sessions/
frontend/.idea/
implementations/
logs/
workspace/
credentials/
