*.sw?
*.pyc
frontend/applications/__init__.py
frontend/httpserver.log
frontend/parameters_8000.py
frontend/welcome.w2p
.DS_Store
frontend/httpserver.pid
.ropeproject
frontend/.idea/
.idea/
logs/
workspace/
