{{extend 'layout.html'}}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row page-header" style="padding-left: 25px;">
        <div class="dashhead">
            <div class="dashhead-titles">
                <h1 class="dashhead-title">User Credentials</h1>
            </div>
        </div>
    </div> <!-- /.row -->
    {{if request.args(0) == 'add':}}
        {{=form}}
    {{else:}}
	<div class="row">
        <nav class="navbar navbar-default query" role="query">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand p-r-0" href="javascript:void(0);">{{=len(cred_list)}} Credentials Found</a>

                </div>
                <div class="collapse navbar-collapse" id="">
                    <div class="navbar-form navbar-left">
                        <input type="text" class="form-control search" />
                        <button class="btn btn-default">Search</button>
                    </div>
                    <a href="{{=URL('default', 'credentials', args=['add'])}}" class="btn btn-primary create pull-right">Add New Credential</a>
                </div>

            </div>
        </nav>
        <div class="table-responsive col-md-12">
            <table class="table table-striped table-hover results">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Credential</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{for c in cred_list:}}
                        {{label=None # This is to make label a global variable in here??}}
                        <tr>
                            <td><p>{{=c.name}}</p></td>
                            <td><p>{{=c.cred_text}}</p></td>
                            <td class="col-md-2"><p>
                                <a class="btn btn-link" href="{{=URL('default', 'delete_credentials', args=[c.id])}}">Delete</a><br>
                            </p></td>
                        </tr>
                    {{pass}}
                </tbody>
            </table>
        </div>
	</div>
</div>
<style>
    .btn-primary.create {margin-top:10px;}
    .results tr[visible='false'],

    .results tr[visible='true']{
      display:table-row;
    }
</style>
<script>
    $(document).ready(function() {
      $(".search").keyup(function () {
        var searchTerm = $(".search").val();
        var listItem = $('.results tbody').children('tr');
        var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

      $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
            return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
        }
      });

      $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
        $(this).attr('visible','false');
      });

      $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
        $(this).attr('visible','true');
      });

      var jobCount = $('.results tbody tr[visible="true"]').length;
        $('.counter').text(jobCount + ' item');

      if(jobCount == '0') {$('.no-result').show();}
        else {$('.no-result').hide();}
              });
    });
</script>
{{pass}}